.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.but {
  color: black;
}
.login-popup-container {
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  color: black;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
}
.login-popup p span {
  cursor: pointer;
  font-weight: 500;
  color: tomato;
}
