.users-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 3fr 1fr;
    align-items: center;
    gap:10px;
    padding:12px 15px;
    border:1px solid #cacaca;
    font-size: 13px;
}
.users-table-format.title{
    background-color: #f9f9f9;
}
@media (max-width:600px) {
    .users-table-format{
        grid-template-columns: 0.5fr 1fr 2fr 1fr;
        gap:15px;
    }
    .users-table-format.title{
        display: none;
    }
}
