<div class="footer" id="footer">
  <div class="footer-content">
    <div class="footer-content-left">
      <img src="assets/logoo.png" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
        voluptate quibusdam voluptates accusamus, eveniet facilis facere
        nesciunt minus itaque ad ab ut consectetur molestiae expedita
        mollitia neque nam. Obcaecati, et?
      </p>
      <div class="footer-social-icon">
        <img src="assets/facebook_icon.png" alt="" />
        <img src="assets/twitter_icon.png" alt="" />
        <img src="assets/linkedin_icon.png" alt="" />
      </div>
    </div>
    <div class="footer-content-center">
      <h2>COMPANY</h2>
      <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>Delivery</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="footer-content-right">
      <h2>GET IN TOUCH</h2>
      <ul>
        <li>+91 7405706690</li>
        <li>jainnaman869&#64;gmail.com</li>
      </ul>
    </div>
  </div>
  <hr />
  <p class="footer-copyright">
    Copyright 2025 © Zaykaa.com - All Rights Reserved.
  </p>
</div>
