<div class="cart">
  <div class="cart-items">
    <div class="cart-items-title">
      <p class="white">Items</p>
      <p class="white">Title</p>
      <p class="white">Price</p>
      <p class="white">Quantity</p>
      <p class="white">Total</p>
      <p class="white">Remove</p>
    </div>
    <br />
    <hr />

    <ng-container *ngFor="let item of giftList">
      <div *ngIf="cartItems[item._id] > 0">
        <div class="cart-items-title cart-items-item">
          <img [src]="url + '/images/' + item.image" alt="" />
          <p class="white">{{item.name}}</p>
          <p class="white">Rs.{{item.price}}</p>
          <p class="white">{{cartItems[item._id]}}</p>
          <p class="white">Rs.{{item.price * cartItems[item._id]}}</p>
          <p (click)="removeFromCart(item._id)" class="cross">❌</p>
        </div>
        <hr />
      </div>
    </ng-container>
  </div>

  <div class="cart-bottom">
    <div class="cart-total">
      <h2 class="white">Cart Total</h2>
      <div>
        <div class="cart-total-detail">
          <p class="white">Subtotal</p>
          <p class="white">Rs.{{getTotalCartAmount()}}</p>
        </div>
        <hr />
        <div class="cart-total-detail">
          <p class="white">Delivery Fee</p>
          <p class="white">Rs.{{getTotalCartAmount() === 0 ? 0 : 40}}</p>
        </div>
        <hr />
        <div class="cart-total-detail">
          <b class="white">Total</b>
          <b class="white">Rs.{{getTotalCartAmount() === 0 ? 0 : getTotalCartAmount() + 40}}</b>
        </div>
        <hr />
      </div>
      <button (click)="proceedToCheckout()">PROCEED TO CHECKOUT</button>
    </div>
  </div>
</div>
