<div class="cart">
  <div class="cart-items">
    <div class="cart-items-title">
      <p>Items</p>
      <p>Title</p>
      <p>Price</p>
      <p>Quantity</p>
      <p>Total</p>
      <p>Remove</p>
    </div>
    <br />
    <hr />

    <ng-container *ngFor="let item of giftList">
      <div *ngIf="cartItems[item._id] > 0">
        <div class="cart-items-title cart-items-item">
          <img [src]="url + '/images/' + item.image" alt="" />
          <p>{{item.name}}</p>
          <p>Rs.{{item.price}}</p>
          <p>{{cartItems[item._id]}}</p>
          <p>Rs.{{item.price * cartItems[item._id]}}</p>
          <p (click)="removeFromCart(item._id)" class="cross">❌</p>
        </div>
        <hr />
      </div>
    </ng-container>
  </div>

  <div class="cart-bottom">
    <div class="cart-total">
      <h2>Cart Total</h2>
      <div>
        <div class="cart-total-detail">
          <p>Subtotal</p>
          <p>Rs.{{getTotalCartAmount()}}</p>
        </div>
        <hr />
        <div class="cart-total-detail">
          <p>Delivery Fee</p>
          <p>Rs.{{getTotalCartAmount() === 0 ? 0 : 40}}</p>
        </div>
        <hr />
        <div class="cart-total-detail">
          <b>Total</b>
          <b>Rs.{{getTotalCartAmount() === 0 ? 0 : getTotalCartAmount() + 40}}</b>
        </div>
        <hr />
      </div>
      <button (click)="proceedToCheckout()">PROCEED TO CHECKOUT</button>
    </div>
  </div>
</div>
