.header {
  height: 34vw;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-contents {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  color: white;
  z-index: 2;
}

.header-contents h2 {
  font-weight: 500;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  font-size: 1vw;
}

.header-contents button {
  border: none;
  font-weight: 500;
  padding: 1vw 2.3vw;
  color: #747474;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
